body{
  background-color: rgb(63, 69, 79);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
#nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo {
  margin-right: 20px;
}

.nav-options a {
  color: black;
  font-weight: bold;
  margin-right: 20px;
  text-decoration: none;
}

.nav-options a:hover {
  color: darkblue;
}

#footer {
  background-color: rgb(63, 69, 79);
  color: white;
  position: absolute;
  bottom: 0;
  align-items: center;
}

.container-input{
  background-color: rgb(63, 69, 79);
  color: white;
  position: absolute;
  left: 50px;
  top: 120px;
  width: 600px;
  height: 600px;
  display: flex;
}

.container-login{
  background-color: rgb(63, 69, 79);
  color: white;
  position: absolute;
  right: 50px;
  top: 120px;
  width: 200px;
  height: 600px;
  display: flex;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  font-size: 15px;
  -moz-appearance: textfield;
}

#input-table {
  width: 250px;
}

#login-table {
  max-width: 500px;
}
#login-fields {
  font-size: 25px;
  border: solid 5px sandybrown;
  align-items: flex-end;
  border-radius: 15px;
  padding: 10px;
  margin-right: 10px;
  
}
#input-fields {
  font-size: 25px;
  border: solid 5px sandybrown;
  align-items: flex-start;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
}
#result-table {
  max-width: 800px;
  background-color: rgb(247, 249, 245);
  border: solid 4px sandybrown;
  border-radius: 20px;
}

#submitBtn {
  font-size: 15px;
  background-color: white;
  border: solid 5px sandybrown;
  border-radius: 10px;
  padding: 4px;
  margin-top: 30px;
}

#BMI-value{
  font-size: 30px;
  font-weight:900;
  color: rgb(243, 117, 49);
  border: solid 2px sandybrown;
  border-radius: 10px;
  margin: 20px;
}
