body{
  background-color: rgb(63, 69, 79);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#nav-bar {
  background-color: rgb(63, 69, 79);
  color: white;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#nav-bar > div{
  margin-left: 10px;
  display: flex;
}
.link-component {
  color:white;
  width: 100px;
  display: flex;
  align-items: center;
  border: 5px solid orange;
  border-radius: 30px;
  padding: 20px;
  margin: 10px;
  font-size: 20px;
}

#footer {
  background-color: rgb(63, 69, 79);
  color: white;
  position: absolute;
  bottom: 0;
  align-items: center;
}

.container-input{
  background-color: rgb(63, 69, 79);
  color: white;
  position: absolute;
  left: 50px;
  top: 120px;
  width: 600px;
  height: 600px;
  display: flex;
}
.container-contact{
  background-color: rgb(63, 69, 79);
  color: white;
  position: absolute;
  left: 150px;
  top: 100px;
  width: 250px;
  height: 600px;
  display: flex;
flex-direction: column;
}

.container-login{
  background-color: rgb(63, 69, 79);
  color: white;
  position: absolute;
  left: 50px;
  top: 120px;
  width: 200px;
  height: 600px;
  display: flex;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  font-size: 15px;
  -moz-appearance: textfield;
}

#input-table {
  width: 250px;
}

#login-table {
  max-width: 500px;
}
#login-fields {
  font-size: 25px;
  border: solid 5px sandybrown;
  align-items: flex-end;
  border-radius: 15px;
  padding: 10px;
  margin-right: 10px;
  
}
#input-fields {
  font-size: 25px;
  border: solid 5px sandybrown;
  align-items: flex-start;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
}
#result-table {
  max-width: 800px;
  background-color: rgb(247, 249, 245);
  border: solid 4px sandybrown;
  border-radius: 20px;
  max-height: 520px;
}

.submitBtn {
  font-size: 15px;
  background-color: white;
  border: solid 5px sandybrown;
  border-radius: 10px;
  padding: 4px;
  margin-top: 30px;
}

#BMI-value{
  font-size: 30px;
  font-weight:900;
  color: rgb(243, 117, 49);
  border: solid 2px sandybrown;
  border-radius: 10px;
  margin: 20px;
}
#home{
  max-width: 800px;
   border: solid 4px sandybrown;
   border-radius: 20px;
 color: white;
 }

 .list-BMI {
  background-color: rgb(63, 69, 79);
  color: white;
  position: absolute;
  border: solid 5px sandybrown;
  border-radius: 10px;
  left: 50px;
  top: 120px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  table-layout: fixed;
  margin: 10px;
  padding: 10px;
}

.list-BMI h2 {
  margin: 0;
  font-size: 25px;
}

.list-BMI table {
  border-collapse: collapse;
  width: 100%;
  max-width: 380px;
}

.list-BMI th,
.list-BMI td {
  font-size: 30px;
  padding: 10px;
  text-align:justify;
  border: 3px solid sandybrown;
}
.list-BMI th:nth-child(2) {
  padding-left: 20px;
}
.list-BMI th {
  font-weight: normal;
}

.list-BMI td:first-child {
  font-weight: bold;
  text-align: left;
}

.list-BMI tr:first-child th:first-child {
  border-top-left-radius: 10px;
}

.list-BMI tr:first-child th:last-child {
  border-top-right-radius: 10px;
}

.list-BMI tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

.list-BMI tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}
